  <page format="A4" backbottom="35mm" >
		<page_footer>
      <table id="signature" align="center">
        <tr class="rowsignature">
          <td class="libellesignature">
            Signature chirurgien.
          </td>
          <td class="libellesignature">
            Signature patient <br>
            ou repésentant légal.
          </td>
          <td class="vide">
          </td>
          <td>
          </td>
        </tr>
        <tr class="rowsignature">
          <td class="casevide">
          </td>
          <td class="casevide">
          </td>
          <td class="vide">
          </td>

        </tr>
      </table>
			<div id="blockfooter">
      {% if is_granted('ROLE_PRIVATE') or is_granted('ROLE_HN') %}
			Membre d’une association de gestion agréée, le règlement des honoraires par chèque est accepté.<br>
			<br>
			Le Dr LAPEYRIE ne pratique pas le tiers payant  avec les organismes de complémentaire santé (mutuelles). Les démarches de remboursement sont réalisées par le patient avec la feuille de soins remise contre paiement.
      {% else %}
      Les prestations hospitalières, objet du présent devis, sont établies au nom du CHU de Nîmes représenté par le service de chirurgie orale.<br><br>
      Ces prestations sont encaissées par le CHU de Nîmes le jour même de l'intervention ou lors de la réception d'une facture à domicile.
      {% endif %}
      </div><!-- /#footer -->
		</page_footer>


		<style>
				#blocksocieteutilisateur {
					width:105mm;
				}
				#utilisateur {
					color: #79BBFC;
					font-weight:bold;
				}
				#blockdate {
					text-align: right;
          padding-top: 10mm;
				}

				#blockclient {
					padding-left:105mm;
          padding-top: 10mm;
				}

        #barcode {
          padding-top: 10mm;
          text-align:right;
        }

				#headertab td {
					background-color: #79BBFC;
					padding-left: 2mm;
					padding-right: 2mm;
					padding-top:1mm;
					padding-bottom:1mm;
					text-align: center;
					border-bottom: solid 1px black;
				}
				#siretsociete{
					margin-top:4mm;
					font-size:2.5mm;
				}
				#apesociete{
					font-size:2.5mm;
				}

        #logo{
          margin-top: -5mm;
          margin-right: 15mm;
        }

				#blocktitredocument{
					font-weight:bold;
				}
				#signature{
					width:100%;
					margin-top:10mm;
				}

				#blockfooter{
					padding:2mm;
					font-size:2mm;
					text-align:center;
				}
				td.libellesignature{
					vertical-align:bottom;
					font-size: 3mm;
					text-align:center;
				}

				td.casevide {
					border : solid 1px black;
					height : 20mm;
					width:50mm;
				}

				td.total{

					background-color: #F9FCBE;
					padding-right:2mm;
					padding-left:2mm;
					font-weight:bold;
					text-align:right;
				}


				.societe{
					text-align:center;
				}
				.vide{
					width:10mm;
				}

		</style>
    {% set idCar = "" %}
    {% set idDev = "" %}
    {% set dateDev = "" %}
    {% set rueCar = "" %}
    {% set cdeCar = "" %}
    {% set vilCar = "" %}
    {% set username = "" %}

    {% for pd in listPds %}
    	{% set idCar = pd.devis.carnet.id %}
    	{% set idDev = pd.devis.id %}
    	{% set datDev = pd.devis.datDev %}
      {% set rueCar = pd.devis.carnet.rueCar|split('*') %}
      {% set cdeCar = pd.devis.carnet.cdeCar %}
      {% set vilCar = pd.devis.carnet.vilCar %}
      {% set username = pd.devis.user.username %}

    {% endfor %}
{#<img id="logo" src="http://www.silvereco.fr/wp-content/logo-chu-nimes.png" height="150" align="right">#}

<div id="blocksocieteutilisateur">
{% if is_granted('ROLE_PRIVATE') or is_granted('ROLE_HN') %}
	<div id="utilisateur" class="societe">
		Dr Philippe LAPEYRIE
	</div>
	<div id="adressesociete" class="societe">
		Service de Chirurgie Orale<br>
		CHU Carémeau - Place du Professeur Debré<br>
	</div>
	<div id="villesociete" class="societe">30000 NIMES</div>
	<div id="telsociete" class="societe">Tel : 04.66.68.43.33</div>
	<div id="faxsesociete" class="societe">Fax : 04.66.68.33.12</div>
	<div id="emailutilisateur" class="societe">e-mail : <span class="email">philippe.lapeyrie@chu-nimes.fr</span></div>
	<div id="siretsociete" class="societe">N° Siret : 34909466400068 </div>
	<div id="apesociete" class="societe">Code A.P.E. : 8623</div>
{% else %}
<div id="utilisateur" class="societe">
  SERVICE DE CHIRURGIE ORALE
</div>
<div id="adressesociete" class="societe">
  CHU Carémeau - Place du Professeur Debré<br>
</div>
<div id="villesociete" class="societe">30000 NIMES</div>
<div id="telsociete" class="societe">Tél :04.66.68.43.33</div>
<div id="faxsesociete" class="societe">Fax : 04.66.68.33.12</div>
<div id="emailutilisateur" class="societe">e-mail : <span class="email">sec.chirurgie.orale@chu-nimes.fr</span></div>
<br>
<br>
<br>
{% endif %}
</div><!-- \#blocksocieteutilisateur -->

<div id="blockdate">
  Nîmes le {{datDev|date('d/m/Y')}}</div><!-- /#blockdate -->
<div id="blockclient">
	<div id="nomclient" class="client">
	 <b>{{ nomCar }} {{ prnCar }}</b>
	</div>
	<div id="adresseclient" class="client">
    {{ rueCar[0]~' '~rueCar[1]~' '~rueCar[2] }}<br>
    {{ rueCar[3] }}
	</div>
	<div id="villeclient" class="client">
		{{ cdeCar~" "~vilCar}}
	</div>
</div><!-- \#blockclient -->
<div id="barcode">
<barcode type="C39" value="{{ idCar }}/{{ datDev|date('Ymd') }}{{idDev}}" style="width:40mm; height:5mm"></barcode>
</div>
<div id="blocktitredocument" style="text-align:center; padding-top:5mm; padding-bottom:5mm;">

  {% if is_granted('ROLE_PUBLIC') %}
  Devis de prestations hospitalières<br>
   <span class="numerodevis">N° {{ datDev|date('Y-m-d') }}-{{idDev}}, valable 6 mois.</span>
 {% endif %}
 {% if is_granted('ROLE_PRIVATE') %}
 Devis de pratique libérale du Dr Lapeyrie
  <span class="numerodevis">N° {{ datDev|date('Y-m-d') }}-{{idDev}}.</span>
{% endif %}
{% if is_granted('ROLE_HN') %}
Devis
 <span class="numerodevis"> N° {{ datDev|date('Y-m-d') }}-{{idDev}}, valable 6 mois.</span>
{% endif %}
 </div>

{% set soustotal = 0 %}
{% set total = 0 %}
<table id="tableau" width="200mm" align="center">

	<tr id="headertab">
		<td>Code</td>
		<td>Désignation</td>
		<td>PU</td>
		<td>Qté</td>
		<td>Total&nbsp;€</td>
	</tr>
	{% for pd in listPds %}
	{% set soustotal = pd.ttcPrD * pd.quaPrD %}
	<tr>

		<td style="vertical-align:middle;text-align:center;">{{ pd.refPrd }}</td>
		<td style="width:140mm;">

			<span style="margin-top:2mm">{{ pd.libPrD }} <i>: {{ pd.obsPrD}}</i></span><br/>
			<span style="font-size:2mm;margin-top:3mm;">{{ pd.produit.infoproduit.libInf }}</span>
		</td>
		<td style="vertical-align:middle;text-align:center;">{{ pd.ttcPrD|number_format(2,',',' ') }}</td>
		<td style="vertical-align:middle;text-align:center;">{{ pd.quaPrD }}</td>
		<td style="vertical-align:middle;text-align:center;">{{ soustotal|number_format(2,',',' ') }}</td>

	</tr>
	{% set total = total +  soustotal   %}
{% endfor %}
  <tr>
    <td></td>
    <td></td>
    <td class="total" colspan="3">
      <hr>
      Total : {{total|number_format(2,',',' ')}}  €
    </td>
  </tr>
</table>

</page>
