{% extends "PLFacturationBundle:ProduitDevis:show.html.twig" %}


{% block observation %}
<input type="text" id="{{ pd.id }}" class="form-control input-sm" value="{{ pd.obsPrD }}" placeholder="Observations ...">

{% endblock %}

{% block button2 %}
{% block button %}
<button id="validerobservation" class="btn btn-info btn-sm" data-iddev="{{idDev}}">
  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Valider observations</button>
{% endblock %}
{% endblock %}

{% block javascripts %}{{ parent() }}
 $.getScript("{{ asset('bundles/plfacturation/js/produitdevisupdate.js') }}");
{% endblock %}
