{% extends "PLFacturationBundle:Facture:pdf_lettre_rappel.html.twig" %}
{% block objet %}
<p><b>Objet :</b> note d'honoraires n° {{ datFac|date('Y-m-d') }}-{{idFac}}</p>
{% endblock %}
{% block title %}
NOTE D'HONORAIRES
{% endblock %}
{% block content %}

<p>Madame, Monsieur,</p>
<p>Veuillez trouver jointe la facture n° {{ datFac|date('Y-m-d') }}-{{idFac}} d'un montant de {{ totFac|number_format(2,',',' ') }} €.
Vous recevez cette facture car nous n'avons pas pu utiliser votre carte VITALE en tiers payant intégral.</p>
<p>Vous devez régler cette facture.</p>
<p> Si vous ne souhaitez pas faire l'avance de frais vous devez vous déplacer au service de chirurgie orale (hall 1, niveau -2) muni de votre
carte VITALE à jour ET de votre attestation de complémentaire santé (mutuelle, CMU, ACS) à jour également. </p>
<p>Si le tiers payant de votre carte VITALE ne fonctionne pas, vous devrez faire l'avance par l'envoi d'un chèque bancaire rédigé à l'ordre du Dr Lapeyrie ou en espèces
directement à l'accueil du service de chirurgie orale. Précisez le numéro de facture au dos du chèque. Nous ne prenons pas les cartes bancaires. Vous recevrez après paiement, par voie postale,
une feuille de remboursement (feuille de soins) et devrez vous même assurer les démarches de remboursement. </p>
<p><i>Pour information les actes médicaux sont dûs immédiatement après avoir été effectués. Aussi
nous vous demandons instamment de vous préoccuper de ce réglement  dans les plus brefs délais.</i></p>
 <p>En vous remerciant de la confiance que vous nous accordez.</p>
{% endblock %}
{% block signature%}
<p style="text-align:center;">Dr Ph. Lapeyrie<br><span style="font-size:2mm">courrier relu et signé par voie electronique</span></p>
{% endblock %}
